# Retrieve NCBI Taxonomy Info For RefSeq Genomes

In `../refseq_masher/data/RefSeqSketches.msh`, each sketch ID has an NCBI Taxonomy UID as the 3rd element if you were to split the ID on `-` (dashes):

In [2]:
!mash info -t ../refseq_masher/data/RefSeqSketches.msh | head

#Hashes	Length	ID	Comment
400	2679921514	./rcn/refseq-AC-10090-PRJNA16113-SAMN03004379-GCF_000002165.2-.-Mus_musculus.fna
400	16300	./rcn/refseq-AC-10116-PRJNA12455-.-.-.-Rattus_norvegicus.fna
400	2559974438	./rcn/refseq-AC-10116-PRJNA16219-.-GCF_000002265.2-.-Rattus_norvegicus.fna
400	30536	./rcn/refseq-AC-10512-PRJNA15101-.-.-.-Canine_adenovirus_1.fna
400	31323	./rcn/refseq-AC-10514-PRJNA15102-.-.-.-Canine_adenovirus_2.fna
400	35937	./rcn/refseq-AC-10515-PRJNA15106-.-.-.-Human_adenovirus_2.fna
400	35514	./rcn/refseq-AC-10519-PRJNA15114-.-.-.-Human_adenovirus_7.fna
400	34794	./rcn/refseq-AC-10522-PRJNA15115-.-.-.-Human_adenovirus_35.fna
400	36001	./rcn/refseq-AC-10533-PRJNA15113-.-.-.-Human_adenovirus_1.fna

Output tabular Mash info output to a file

In [3]:
!mash info -t ../refseq_masher/data/RefSeqSketches.msh > RefSeqSketches.msh-info.tab

Read file into Pandas DataFrame

In [5]:
import pandas as pd

In [6]:
df_mash_info = pd.read_table('RefSeqSketches.msh-info.tab')

In [7]:
df_mash_info.head()

,#Hashes,Length,ID,Comment
0,400,2679921514,./rcn/refseq-AC-10090-PRJNA16113-SAMN03004379-...,NaN
1,400,16300,./rcn/refseq-AC-10116-PRJNA12455-.-.-.-Rattus_...,NaN
2,400,2559974438,./rcn/refseq-AC-10116-PRJNA16219-.-GCF_0000022...,NaN
3,400,30536,./rcn/refseq-AC-10512-PRJNA15101-.-.-.-Canine_...,NaN
4,400,31323,./rcn/refseq-AC-10514-PRJNA15102-.-.-.-Canine_...,NaN

Split the Mash info IDs on `-` (dashes)

In [9]:
import re

In [10]:
ids = []
for mash_id in df_mash_info['ID']:
    r = re.search(r'\./rcn/(.+)', mash_id)
    if r:
        sp = r.group(1).split('-')
        ids.append(sp)

Mash info IDs into a Pandas DataFrame

In [13]:
df_split_ids = pd.DataFrame(ids)

In [14]:
df_split_ids.head()

,0,1,2,3,4,5,6,7
0,refseq,AC,10090,PRJNA16113,SAMN03004379,GCF_000002165.2,.,Mus_musculus.fna
1,refseq,AC,10116,PRJNA12455,.,.,.,Rattus_norvegicus.fna
2,refseq,AC,10116,PRJNA16219,.,GCF_000002265.2,.,Rattus_norvegicus.fna
3,refseq,AC,10512,PRJNA15101,.,.,.,Canine_adenovirus_1.fna
4,refseq,AC,10514,PRJNA15102,.,.,.,Canine_adenovirus_2.fna

Assign more meaningful column names

In [16]:
columns = """
0
prefix
taxid
bioproject
biosample
assembly_accession
plasmid
fna_filename
""".strip().split('\n')

In [17]:
df_split_ids.columns = columns

In [18]:
df_split_ids.head()

,0,prefix,taxid,bioproject,biosample,assembly_accession,plasmid,fna_filename
0,refseq,AC,10090,PRJNA16113,SAMN03004379,GCF_000002165.2,.,Mus_musculus.fna
1,refseq,AC,10116,PRJNA12455,.,.,.,Rattus_norvegicus.fna
2,refseq,AC,10116,PRJNA16219,.,GCF_000002265.2,.,Rattus_norvegicus.fna
3,refseq,AC,10512,PRJNA15101,.,.,.,Canine_adenovirus_1.fna
4,refseq,AC,10514,PRJNA15102,.,.,.,Canine_adenovirus_2.fna

The number of unique NCBI Taxonomy UIDs

In [20]:
df_split_ids.taxid.unique().size

42367

## Fetch NCBI Taxonomy info using BioPython Entrez efetch

Fetch the Taxonomy info from NCBI for a list of NCBI Taxonomy UIDs.

In [21]:
from Bio import Entrez

Entrez.email = 'peter.kruczkiewicz@gmail.com'

def get_tax_lineage(taxids, filter_no_rank=True):
    assert isinstance(taxids, list)
    h = Entrez.efetch(db='Taxonomy', id=taxids, retmode='xml')
    recs = Entrez.read(h)
    dfs = []
    for taxid, rec in zip(taxids, recs):
        lineage_info = rec['LineageEx']
        lineage_info.append({'TaxId': rec['TaxId'], 
                             'ScientificName': rec['ScientificName'],
                             'Rank': rec['Rank']})
        dflineage = pd.DataFrame(lineage_info)
        if filter_no_rank:
            dflineage = dflineage[dflineage['Rank'] != 'no rank']
        dflineage = dflineage[~dflineage.duplicated(keep='first')]
        dflineage['query_taxid'] = taxid
        dfs.append(dflineage)
    return pd.concat(dfs), recs

Here's what the output looks like for a single taxid, 562, corresponding to *E. coli*

In [23]:
dftest, recs_test = get_tax_lineage(['562'], filter_no_rank=False)

In [27]:
dftest

           Rank       ScientificName   TaxId query_taxid
0       no rank   cellular organisms  131567         562
1  superkingdom             Bacteria       2         562
2        phylum       Proteobacteria    1224         562
3         class  Gammaproteobacteria    1236         562
4         order     Enterobacterales   91347         562
5        family   Enterobacteriaceae     543         562
6         genus          Escherichia     561         562
7       species     Escherichia coli     562         562

In [25]:
len(recs_test)

1

In [26]:
recs_test

[{'TaxId': '562', 'ScientificName': 'Escherichia coli', 'OtherNames': {'EquivalentName': ['Escherichia/Shigella coli'], 'Synonym': ['Bacillus coli', 'Bacterium coli', 'Bacterium coli commune', 'Enterococcus coli'], 'Acronym': [], 'Misspelling': [], 'Anamorph': [], 'Includes': ['Escherichia sp. MAR', 'bacterium 10a', 'bacterium E3'], 'CommonName': ['E. coli'], 'Inpart': [], 'Misnomer': [], 'Teleomorph': [], 'GenbankSynonym': [], 'GenbankAnamorph': [], 'Name': [{'ClassCDE': 'authority', 'DispName': '"Bacillus coli" Migula 1895'}, {'ClassCDE': 'authority', 'DispName': '"Bacterium coli commune" Escherich 1885'}, {'ClassCDE': 'authority', 'DispName': '"Bacterium coli" (Migula 1895) Lehmann and Neumann 1896'}, {'ClassCDE': 'authority', 'DispName': 'Escherichia coli (Migula 1895) Castellani and Chalmers 1919'}, {'ClassCDE': 'type material', 'DispName': 'ATCC 11775'}, {'ClassCDE': 'type material', 'DispName': 'CCUG 24'}, {'ClassCDE': 'type material', 'DispName': 'CCUG 29300'}, {'ClassCDE': 'type material', 'DispName': 'CIP 54.8'}, {'ClassCDE': 'type material', 'DispName': 'DSM 30083'}, {'ClassCDE': 'type material', 'DispName': 'JCM 1649'}, {'ClassCDE': 'type material', 'DispName': 'LMG 2092'}, {'ClassCDE': 'type material', 'DispName': 'NBRC 102203'}, {'ClassCDE': 'type material', 'DispName': 'NCCB 54008'}, {'ClassCDE': 'type material', 'DispName': 'NCTC 9001'}, {'ClassCDE': 'misspelling', 'DispName': 'Escherchia coli'}, {'ClassCDE': 'misspelling', 'DispName': 'Eschericia coli'}]}, 'ParentTaxId': '561', 'Rank': 'species', 'Division': 'Bacteria', 'GeneticCode': {'GCId': '11', 'GCName': 'Bacterial, Archaeal and Plant Plastid'}, 'MitoGeneticCode': {'MGCId': '0', 'MGCName': 'Unspecified'}, 'Lineage': 'cellular organisms; Bacteria; Proteobacteria; Gammaproteobacteria; Enterobacterales; Enterobacteriaceae; Escherichia', 'LineageEx': [{'TaxId': '131567', 'ScientificName': 'cellular organisms', 'Rank': 'no rank'}, {'TaxId': '2', 'ScientificName': 'Bacteria', 'Rank': 'superkingdom'}, {'TaxId': '1224', 'ScientificName': 'Proteobacteria', 'Rank': 'phylum'}, {'TaxId': '1236', 'ScientificName': 'Gammaproteobacteria', 'Rank': 'class'}, {'TaxId': '91347', 'ScientificName': 'Enterobacterales', 'Rank': 'order'}, {'TaxId': '543', 'ScientificName': 'Enterobacteriaceae', 'Rank': 'family'}, {'TaxId': '561', 'ScientificName': 'Escherichia', 'Rank': 'genus'}, {'TaxId': '562', 'ScientificName': 'Escherichia coli', 'Rank': 'species'}], 'CreateDate': '1995/02/27 09:24:00', 'UpdateDate': '2017/06/14 10:56:24', 'PubDate': '1993/06/11 01:00:00'}]

### Getting all taxonomic info for all 42367 taxids

The taxonomy info was fetched in batches of 1000 (max taxids you can query at once with the API is 10000).

However there are a few missing taxids that needed to be accounted for:
```
1539978
1608275
1609188
```

Unfortunately, the response from NCBI API doesn't let you know that your taxid was deleted or changed, so it was something that had to be manually tracked down.



*Don't execute the following cell*

In [176]:
# do not execute this cell; it takes a long time
step = 1000
all_dfs = []
all_recs = []
for i in range(0, len(taxids), step):
    retry = 0
    while True:
        try:
            if retry >= 5:
                break
            big_df, recs = get_tax_lineage(taxids[i:i+step], filter_no_rank=False)
            print(i, big_df.query_taxid.unique().size, len(recs))
            all_dfs.append(big_df)
            all_recs += recs
            break
        except Exception as ex:
            print(ex.message)
            retry += 1
            print('Retrying', retry)

0 1000 1000
1000 1000 1000
2000 1000 1000
3000 1000 1000
4000 997 997
5000 1000 1000
6000 1000 1000
7000 1000 1000
8000 1000 1000
9000 1000 1000
10000 1000 1000
11000 1000 1000
12000 1000 1000
13000 1000 1000
14000 1000 1000
15000 1000 1000
16000 1000 1000
17000 1000 1000
18000 1000 1000
19000 1000 1000
20000 1000 1000
21000 1000 1000
22000 1000 1000
23000 1000 1000
24000 1000 1000
25000 1000 1000
26000 1000 1000
27000 1000 1000
28000 1000 1000
29000 1000 1000
30000 1000 1000
31000 1000 1000
32000 1000 1000
33000 1000 1000
34000 1000 1000
35000 1000 1000
36000 1000 1000
37000 1000 1000
38000 1000 1000
39000 1000 1000
40000 1000 1000
41000 1000 1000
42000 367 367

Taxonomy info for 3 of the taxids could not be retrieved

In [33]:
df_split_ids.taxid.unique().size - len(all_recs)

3

The missing taxids were in between taxids 4000 and 5000

In [178]:
missing_recs = all_recs[4000:5000]

Manually determined missing taxids

In [200]:
deleted_taxids = '''
1539978
1608275
1609188
'''.strip().split('\n')

In [201]:
taxids_4000_no_missing = [x for x in taxids[4000:5000] if not x in deleted_taxids]

In [202]:
len(taxids_4000_no_missing)

997

Queried for non-missing taxids in `taxids[4000:5000]`

In [203]:
big_df, recs = get_tax_lineage(taxids_4000_no_missing, filter_no_rank=False)
print(i, big_df.query_taxid.unique().size, len(recs))

4900 997 997

Replaced DataFrame at index 4 with missing taxids accounted for

In [207]:
all_dfs[4] = big_df

### Concatenated DataFrames from batched NCBI Taxonomy DB queries

In [208]:
dfalltaxid = pd.concat(all_dfs)

In [212]:
dfalltaxid = dfalltaxid.reset_index()

In [216]:
dfalltaxid = dfalltaxid[dfalltaxid.columns[1:]]

Removed some uninformative info

In [229]:
dfalltaxid = dfalltaxid[~(dfalltaxid.ScientificName == 'cellular organisms')]

In [233]:
dfalltaxid.Rank[dfalltaxid.Rank == 'no rank'] = None

Rename columns

In [270]:
dfalltaxid.columns = """
rank
name
taxid
query_taxid
""".strip().split('\n')

### Save taxonomy information table

In [234]:
dfalltaxid.to_csv('refseq-taxid-info.csv', index=None)

In [238]:
dfalltaxid[dfalltaxid.query_taxid == '10090']

            Rank        ScientificName    TaxId query_taxid
1   superkingdom             Eukaryota     2759       10090
2           None          Opisthokonta    33154       10090
3        kingdom               Metazoa    33208       10090
4           None             Eumetazoa     6072       10090
5           None             Bilateria    33213       10090
6           None         Deuterostomia    33511       10090
7         phylum              Chordata     7711       10090
8      subphylum              Craniata    89593       10090
9           None            Vertebrata     7742       10090
10          None         Gnathostomata     7776       10090
11          None            Teleostomi   117570       10090
12          None          Euteleostomi   117571       10090
13          None         Sarcopterygii     8287       10090
14          None  Dipnotetrapodomorpha  1338369       10090
15          None             Tetrapoda    32523       10090
16          None               Amniota    32524       10090
17         class              Mammalia    40674       10090
18          None                Theria    32525       10090
19          None              Eutheria     9347       10090
20          None         Boreoeutheria  1437010       10090
21    superorder      Euarchontoglires   314146       10090
22          None                Glires   314147       10090
23         order              Rodentia     9989       10090
24      suborder             Myomorpha  1963758       10090
25          None              Muroidea   337687       10090
26        family               Muridae    10066       10090
27     subfamily               Murinae    39107       10090
28         genus                   Mus    10088       10090
29      subgenus                   Mus   862507       10090
30       species          Mus musculus    10090       10090

## Generate NCBI RefSeq Taxonomy Summary Table

The `dfalltaxid` table contains a lot of extra information in an inefficient format so it would be useful to summarize that info in a table with one row corresponding to one RefSeq taxid.

In [275]:
from typing import List

In [278]:
def get_full_taxonomy(l: List[str]) -> str:
    """From an ordered list of taxonomic classifications, return a string of concatenated taxonomic info

    Remove some of the redundancy between classifications, e.g.

    ["Salmonella enterica", "Salmonella enterica subsp. enterica"]

    is concatenated to

    "Salmonella enterica; subsp. enterica" rather than "Salmonella enterica; Salmonella enterica subsp. enterica"

    Args:
        l: list of taxonomic classifications

    Returns:
        (str): concatenated taxonomic classifications with some redundancy removed
    """
    out = [l[0]]
    for i in range(1, len(l)):
        prev = l[i - 1]
        curr = l[i]
        out.append(curr.replace(prev, '').strip())
    return '; '.join(out)


def summary_taxid(dftax):
    taxids = dftax.query_taxid.unique()
    df_has_rank = dftax[~pd.isnull(dftax['rank'])]
    dicts = []
    for i, taxid in enumerate(taxids):
        d = {'taxid': taxid}
        df_has_rank_taxid = df_has_rank[df_has_rank['query_taxid'] == taxid]
        for _, r in df_has_rank_taxid.iterrows():
            d['taxonomic_{}'.format(r['rank'])] = r['name']
        df_matching_taxid = dftax[dftax['query_taxid'] == taxid]
        # highest resolution taxonomic classification is the last entry for that taxid so get last row
        try:
            _, row = df_matching_taxid[~df_matching_taxid['query_taxid'].duplicated(keep='last')].iterrows().__next__()
            d['top_taxonomy_name'] = row['name']
        except StopIteration:
            d['top_taxonomy_name'] = None
            print('Could not get top taxonomic classification for taxid %s', taxid)
        # build string of concatenated all taxonomic info with some redundancy between successive terms
        try:
            d['full_taxonomy'] = get_full_taxonomy(list(df_matching_taxid['name']))
        except IndexError:
            d['full_taxonomy'] = None
            print('Could not get full taxonomy for taxid %s', taxid)
        dicts.append(d)
        if i % 1000 == 0:
            print('Parsed taxnomic info entries', i, d, len(dicts))
    return pd.DataFrame(dicts)

Produce summarized NCBI Taxonomy info table for each unique taxid in `../refseq_masher/data/RefSeqSketches.msh`

In [279]:
df_summary_taxid = summary_taxid(dfalltaxid)

Parsed taxnomic info entries 0 {'taxid': '10090', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Metazoa', 'taxonomic_phylum': 'Chordata', 'taxonomic_subphylum': 'Craniata', 'taxonomic_class': 'Mammalia', 'taxonomic_superorder': 'Euarchontoglires', 'taxonomic_order': 'Rodentia', 'taxonomic_suborder': 'Myomorpha', 'taxonomic_family': 'Muridae', 'taxonomic_subfamily': 'Murinae', 'taxonomic_genus': 'Mus', 'taxonomic_subgenus': 'Mus', 'taxonomic_species': 'Mus musculus', 'top_taxonomy_name': 'Mus musculus', 'full_taxonomy': 'Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Sarcopterygii; Dipnotetrapodomorpha; Tetrapoda; Amniota; Mammalia; Theria; Eutheria; Boreoeutheria; Euarchontoglires; Glires; Rodentia; Myomorpha; Muroidea; Muridae; Murinae; Mus; ; musculus'} 1
Parsed taxnomic info entries 1000 {'taxid': '1113547', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_order': 'Caudovirales', 'taxonomic_family': 'Podoviridae', 'taxonomic_genus': 'Nonanavirus', 'taxonomic_species': 'Salmonella virus 9NA', 'top_taxonomy_name': 'Salmonella phage 9NA', 'full_taxonomy': 'Viruses; dsDNA viruses, no RNA stage; Caudovirales; Podoviridae; Nonanavirus; Salmonella virus 9NA; Salmonella phage 9NA'} 1001
Parsed taxnomic info entries 2000 {'taxid': '12235', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_family': 'Virgaviridae', 'taxonomic_genus': 'Tobamovirus', 'taxonomic_species': 'Cucumber green mottle mosaic virus', 'top_taxonomy_name': 'Cucumber green mottle mosaic virus', 'full_taxonomy': 'Viruses; ssRNA viruses; ssRNA positive-strand viruses, no DNA stage; Virgaviridae; Tobamovirus; Cucumber green mottle mosaic virus'} 2001
Parsed taxnomic info entries 3000 {'taxid': '1346815', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_species': 'Circo-like virus-Brazil', 'top_taxonomy_name': 'Circo-like virus-Brazil hs1', 'full_taxonomy': 'Viruses; ssDNA viruses; unclassified; Circo-like virus-Brazil; hs1'} 3001
Parsed taxnomic info entries 4000 {'taxid': '1511639', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_order': 'Mononegavirales', 'taxonomic_family': 'Rhabdoviridae', 'taxonomic_species': 'Dolphin rhabdovirus', 'top_taxonomy_name': 'Dolphin rhabdovirus', 'full_taxonomy': 'Viruses; ssRNA viruses; ssRNA negative-strand viruses; Mononegavirales; Rhabdoviridae; unclassified; Dolphin rhabdovirus'} 4001
Parsed taxnomic info entries 5000 {'taxid': '183858', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Viridiplantae', 'taxonomic_phylum': 'Streptophyta', 'taxonomic_subphylum': 'Streptophytina', 'taxonomic_subclass': 'rosids', 'taxonomic_order': 'Myrtales', 'taxonomic_family': 'Myrtaceae', 'taxonomic_subfamily': 'Myrtoideae', 'taxonomic_tribe': 'Eucalypteae', 'taxonomic_genus': 'Eucalyptus', 'taxonomic_species': 'Eucalyptus torquata', 'top_taxonomy_name': 'Eucalyptus torquata', 'full_taxonomy': 'Eukaryota; Viridiplantae; Streptophyta; Streptophytina; Embryophyta; Tracheophyta; Euphyllophyta; Spermatophyta; Magnoliophyta; Mesangiospermae; eudicotyledons; Gunneridae; Pentapetalae; rosids; malvids; Myrtales; Myrtaceae; Myrtoideae; Eucalypteae; Eucalyptus; torquata'} 5001
Parsed taxnomic info entries 6000 {'taxid': '249583', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_order': 'Mononegavirales', 'taxonomic_family': 'Rhabdoviridae', 'taxonomic_genus': 'Lyssavirus', 'taxonomic_species': 'Irkut lyssavirus', 'top_taxonomy_name': 'Irkut lyssavirus', 'full_taxonomy': 'Viruses; ssRNA viruses; ssRNA negative-strand viruses; Mononegavirales; Rhabdoviridae; Lyssavirus; Irkut lyssavirus'} 6001
Parsed taxnomic info entries 7000 {'taxid': '311403', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Alphaproteobacteria', 'taxonomic_order': 'Rhizobiales', 'taxonomic_family': 'Rhizobiaceae', 'taxonomic_genus': 'Agrobacterium', 'taxonomic_species group': 'Agrobacterium tumefaciens complex', 'taxonomic_species': 'Agrobacterium tumefaciens', 'top_taxonomy_name': 'Agrobacterium radiobacter K84', 'full_taxonomy': 'Bacteria; Proteobacteria; Alphaproteobacteria; Rhizobiales; Rhizobiaceae; Rhizobium/Agrobacterium group; Agrobacterium; tumefaciens complex; Agrobacterium tumefaciens; Agrobacterium radiobacter K84'} 7001
Parsed taxnomic info entries 8000 {'taxid': '364019', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Metazoa', 'taxonomic_phylum': 'Porifera', 'taxonomic_class': 'Demospongiae', 'taxonomic_subclass': 'Heteroscleromorpha', 'taxonomic_order': 'Suberitida', 'taxonomic_family': 'Halichondriidae', 'taxonomic_genus': 'Hymeniacidon', 'taxonomic_species': 'Hymeniacidon sinapium', 'top_taxonomy_name': 'Hymeniacidon sinapium', 'full_taxonomy': 'Eukaryota; Opisthokonta; Metazoa; Porifera; Demospongiae; Heteroscleromorpha; Suberitida; Halichondriidae; Hymeniacidon; sinapium'} 8001
Parsed taxnomic info entries 9000 {'taxid': '42529', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Metazoa', 'taxonomic_phylum': 'Chordata', 'taxonomic_subphylum': 'Craniata', 'taxonomic_superclass': 'Actinopterygii', 'taxonomic_class': 'Actinopteri', 'taxonomic_subclass': 'Neopterygii', 'taxonomic_infraclass': 'Teleostei', 'taxonomic_superorder': 'Characiphysae', 'taxonomic_order': 'Characiformes', 'taxonomic_suborder': 'Characoidei', 'taxonomic_family': 'Serrasalmidae', 'taxonomic_genus': 'Piaractus', 'taxonomic_species': 'Piaractus brachypomus', 'top_taxonomy_name': 'Piaractus brachypomus', 'full_taxonomy': 'Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Actinopterygii; Actinopteri; Neopterygii; Teleostei; Osteoglossocephalai; Clupeocephala; Otomorpha; Ostariophysi; Otophysi; Characiphysae; Characiformes; Characoidei; Serrasalmidae; Piaractus; brachypomus'} 9001
Parsed taxnomic info entries 10000 {'taxid': '499556', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_family': 'Arenaviridae', 'taxonomic_genus': 'Mammarenavirus', 'taxonomic_species': 'Chapare mammarenavirus', 'top_taxonomy_name': 'Chapare mammarenavirus', 'full_taxonomy': 'Viruses; ssRNA viruses; ssRNA negative-strand viruses; Arenaviridae; Mammarenavirus; Chapare mammarenavirus'} 10001
Parsed taxnomic info entries 11000 {'taxid': '587282', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_phylum': 'Apicomplexa', 'taxonomic_class': 'Aconoidasida', 'taxonomic_order': 'Haemosporida', 'taxonomic_family': 'Leucocytozoidae', 'taxonomic_genus': 'Leucocytozoon', 'taxonomic_species': 'Leucocytozoon fringillinarum', 'top_taxonomy_name': 'Leucocytozoon fringillinarum', 'full_taxonomy': 'Eukaryota; Alveolata; Apicomplexa; Aconoidasida; Haemosporida; Leucocytozoidae; Leucocytozoon; fringillinarum'} 11001
Parsed taxnomic info entries 12000 {'taxid': '691965', 'taxonomic_superkingdom': 'Viruses', 'taxonomic_order': 'Caudovirales', 'taxonomic_family': 'Siphoviridae', 'taxonomic_genus': 'Pepy6virus', 'taxonomic_species': 'Rhodococcus virus Pepy6', 'top_taxonomy_name': 'Rhodococcus phage ReqiPepy6', 'full_taxonomy': 'Viruses; dsDNA viruses, no RNA stage; Caudovirales; Siphoviridae; Pepy6virus; Rhodococcus virus Pepy6; Rhodococcus phage ReqiPepy6'} 12001
Parsed taxnomic info entries 13000 {'taxid': '8240', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Metazoa', 'taxonomic_phylum': 'Chordata', 'taxonomic_subphylum': 'Craniata', 'taxonomic_superclass': 'Actinopterygii', 'taxonomic_class': 'Actinopteri', 'taxonomic_subclass': 'Neopterygii', 'taxonomic_infraclass': 'Teleostei', 'taxonomic_order': 'Scombriformes', 'taxonomic_family': 'Scombridae', 'taxonomic_subfamily': 'Scombrinae', 'taxonomic_tribe': 'Thunnini', 'taxonomic_genus': 'Thunnus', 'taxonomic_species': 'Thunnus maccoyii', 'top_taxonomy_name': 'Thunnus maccoyii', 'full_taxonomy': 'Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Actinopterygii; Actinopteri; Neopterygii; Teleostei; Osteoglossocephalai; Clupeocephala; Euteleosteomorpha; Neoteleostei; Eurypterygia; Ctenosquamata; Acanthomorphata; Euacanthomorphacea; Percomorphaceae; Pelagiaria; Scombriformes; Scombridae; Scombrinae; Thunnini; Thunnus; maccoyii'} 13001

Parsed taxnomic info entries 14000 {'taxid': '9595', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Metazoa', 'taxonomic_phylum': 'Chordata', 'taxonomic_subphylum': 'Craniata', 'taxonomic_class': 'Mammalia', 'taxonomic_superorder': 'Euarchontoglires', 'taxonomic_order': 'Primates', 'taxonomic_suborder': 'Haplorrhini', 'taxonomic_infraorder': 'Simiiformes', 'taxonomic_parvorder': 'Catarrhini', 'taxonomic_superfamily': 'Hominoidea', 'taxonomic_family': 'Hominidae', 'taxonomic_subfamily': 'Homininae', 'taxonomic_genus': 'Gorilla', 'taxonomic_species': 'Gorilla gorilla', 'taxonomic_subspecies': 'Gorilla gorilla gorilla', 'top_taxonomy_name': 'Gorilla gorilla gorilla', 'full_taxonomy': 'Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Sarcopterygii; Dipnotetrapodomorpha; Tetrapoda; Amniota; Mammalia; Theria; Eutheria; Boreoeutheria; Euarchontoglires; Primates; Haplorrhini; Simiiformes; Catarrhini; Hominoidea; Hominidae; Homininae; Gorilla; gorilla; gorilla'} 14001
Parsed taxnomic info entries 15000 {'taxid': '1131577', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Fungi', 'taxonomic_subkingdom': 'Dikarya', 'taxonomic_phylum': 'Ascomycota', 'taxonomic_subphylum': 'Pezizomycotina', 'taxonomic_class': 'Eurotiomycetes', 'taxonomic_subclass': 'Eurotiomycetidae', 'taxonomic_order': 'Eurotiales', 'taxonomic_family': 'Aspergillaceae', 'taxonomic_genus': 'Penicillium', 'taxonomic_species': 'Penicillium aurantiacobrunneum', 'top_taxonomy_name': 'Penicillium aurantiacobrunneum', 'full_taxonomy': 'Eukaryota; Opisthokonta; Fungi; Dikarya; Ascomycota; saccharomyceta; Pezizomycotina; leotiomyceta; Eurotiomycetes; Eurotiomycetidae; Eurotiales; Aspergillaceae; Penicillium; aurantiacobrunneum'} 15001
Parsed taxnomic info entries 16000 {'taxid': '258468', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Fungi', 'taxonomic_subkingdom': 'Dikarya', 'taxonomic_phylum': 'Basidiomycota', 'taxonomic_subphylum': 'Agaricomycotina', 'taxonomic_class': 'Tremellomycetes', 'taxonomic_order': 'Tremellales', 'taxonomic_family': 'Bulleribasidiaceae', 'taxonomic_genus': 'Derxomyces', 'taxonomic_species': 'Derxomyces cylindricus', 'top_taxonomy_name': 'Derxomyces cylindricus', 'full_taxonomy': 'Eukaryota; Opisthokonta; Fungi; Dikarya; Basidiomycota; Agaricomycotina; Tremellomycetes; Tremellales; Bulleribasidiaceae; Derxomyces; cylindricus'} 16001
Parsed taxnomic info entries 17000 {'taxid': '706493', 'taxonomic_superkingdom': 'Eukaryota', 'taxonomic_kingdom': 'Fungi', 'taxonomic_subkingdom': 'Dikarya', 'taxonomic_phylum': 'Ascomycota', 'taxonomic_subphylum': 'Pezizomycotina', 'taxonomic_class': 'Sordariomycetes', 'taxonomic_subclass': 'Hypocreomycetidae', 'taxonomic_order': 'Hypocreales', 'taxonomic_genus': 'Acremonium', 'taxonomic_species': 'Acremonium dichromosporum', 'top_taxonomy_name': 'Acremonium dichromosporum', 'full_taxonomy': 'Eukaryota; Opisthokonta; Fungi; Dikarya; Ascomycota; saccharomyceta; Pezizomycotina; leotiomyceta; sordariomyceta; Sordariomycetes; Hypocreomycetidae; Hypocreales; incertae sedis; Acremonium; dichromosporum'} 17001
Parsed taxnomic info entries 18000 {'taxid': '102232', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Cyanobacteria', 'taxonomic_subclass': 'Oscillatoriophycideae', 'taxonomic_order': 'Chroococcales', 'taxonomic_family': 'Chroococcaceae', 'taxonomic_genus': 'Gloeocapsa', 'taxonomic_species': 'Gloeocapsa sp. PCC 73106', 'top_taxonomy_name': 'Gloeocapsa sp. PCC 73106', 'full_taxonomy': 'Bacteria; Terrabacteria group; Cyanobacteria/Melainabacteria group; Cyanobacteria; Oscillatoriophycideae; Chroococcales; Chroococcaceae; Gloeocapsa; sp. PCC 73106'} 18001
Parsed taxnomic info entries 19000 {'taxid': '1089454', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Actinobacteria', 'taxonomic_class': 'Actinobacteria', 'taxonomic_order': 'Corynebacteriales', 'taxonomic_family': 'Gordoniaceae', 'taxonomic_genus': 'Gordonia', 'taxonomic_species': 'Gordonia terrae', 'top_taxonomy_name': 'Gordonia terrae NBRC 100016', 'full_taxonomy': 'Bacteria; Terrabacteria group; Actinobacteria; ; Corynebacteriales; Gordoniaceae; Gordonia; terrae; NBRC 100016'} 19001
Parsed taxnomic info entries 20000 {'taxid': '1122130', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Actinobacteria', 'taxonomic_class': 'Actinobacteria', 'taxonomic_order': 'Micrococcales', 'taxonomic_family': 'Jonesiaceae', 'taxonomic_genus': 'Jonesia', 'taxonomic_species': 'Jonesia quinghaiensis', 'top_taxonomy_name': 'Jonesia quinghaiensis DSM 15701', 'full_taxonomy': 'Bacteria; Terrabacteria group; Actinobacteria; ; Micrococcales; Jonesiaceae; Jonesia; quinghaiensis; DSM 15701'} 20001
Parsed taxnomic info entries 21000 {'taxid': '1145131', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Betaproteobacteria', 'taxonomic_order': 'Neisseriales', 'taxonomic_family': 'Neisseriaceae', 'taxonomic_genus': 'Neisseria', 'taxonomic_species': 'Neisseria meningitidis', 'top_taxonomy_name': 'Neisseria meningitidis 70082', 'full_taxonomy': 'Bacteria; Proteobacteria; Betaproteobacteria; Neisseriales; Neisseriaceae; Neisseria; meningitidis; 70082'} 21001
Parsed taxnomic info entries 22000 {'taxid': '1158676', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Lactobacillales', 'taxonomic_family': 'Enterococcaceae', 'taxonomic_genus': 'Enterococcus', 'taxonomic_species': 'Enterococcus faecalis', 'top_taxonomy_name': 'Enterococcus faecalis ATCC 27959', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Lactobacillales; Enterococcaceae; Enterococcus; faecalis; ATCC 27959'} 22001
Parsed taxnomic info entries 23000 {'taxid': '1185707', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Xanthomonadales', 'taxonomic_family': 'Xanthomonadaceae', 'taxonomic_genus': 'Xanthomonas', 'taxonomic_species': 'Xanthomonas phaseoli', 'top_taxonomy_name': 'Xanthomonas axonopodis pv. manihotis str. UG23', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Xanthomonadales; Xanthomonadaceae; Xanthomonas; phaseoli; pv. manihotis; Xanthomonas axonopodis pv. manihotis str. UG23'} 23001
Parsed taxnomic info entries 24000 {'taxid': '1223572', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Enterobacterales', 'taxonomic_family': 'Pectobacteriaceae', 'taxonomic_genus': 'Dickeya', 'taxonomic_species': 'Dickeya dadantii', 'top_taxonomy_name': 'Dickeya dadantii NCPPB 898', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Enterobacterales; Pectobacteriaceae; Dickeya; dadantii; NCPPB 898'} 24001
Parsed taxnomic info entries 25000 {'taxid': '1262828', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Clostridia', 'taxonomic_order': 'Clostridiales', 'taxonomic_family': 'Clostridiaceae', 'taxonomic_genus': 'Clostridium', 'taxonomic_species': 'Clostridium sp. CAG:62', 'top_taxonomy_name': 'Clostridium sp. CAG:62', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Clostridia; les; Clostridiaceae; Clostridium; environmental samples; Clostridium sp. CAG:62'} 25001
Parsed taxnomic info entries 26000 {'taxid': '1282665', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Lactobacillales', 'taxonomic_family': 'Streptococcaceae', 'taxonomic_genus': 'Streptococcus', 'taxonomic_species': 'Streptococcus oralis', 'taxonomic_subspecies': 'Streptococcus oralis subsp. tigurinus', 'top_taxonomy_name': 'Streptococcus oralis subsp. tigurinus 1366', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Lactobacillales; Streptococcaceae; Streptococcus; oralis; subsp. tigurinus; 1366'} 26001
Parsed taxnomic info entries 27000 {'taxid': '1310833', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Pseudomonadales', 'taxonomic_family': 'Moraxellaceae', 'taxonomic_genus': 'Acinetobacter', 'taxonomic_species group': 'Acinetobacter calcoaceticus/baumannii complex', 'taxonomic_species': 'Acinetobacter sp. 796380-1375', 'top_taxonomy_name': 'Acinetobacter sp. 796380-1375', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Pseudomonadales; Moraxellaceae; Acinetobacter; calcoaceticus/baumannii complex; Acinetobacter sp. 796380-1375'} 27001

Parsed taxnomic info entries 28000 {'taxid': '1339273', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Bacteroidetes', 'taxonomic_class': 'Bacteroidia', 'taxonomic_order': 'Bacteroidales', 'taxonomic_family': 'Bacteroidaceae', 'taxonomic_genus': 'Bacteroides', 'taxonomic_species': 'Bacteroides fragilis', 'top_taxonomy_name': 'Bacteroides fragilis str. B1 (UDC16-1)', 'full_taxonomy': 'Bacteria; FCB group; Bacteroidetes/Chlorobi group; Bacteroidetes; Bacteroidia; Bacteroidales; Bacteroidaceae; Bacteroides; fragilis; str. B1 (UDC16-1)'} 28001
Parsed taxnomic info entries 29000 {'taxid': '1388080', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Bacillales', 'taxonomic_family': 'Staphylococcaceae', 'taxonomic_genus': 'Staphylococcus', 'taxonomic_species': 'Staphylococcus aureus', 'top_taxonomy_name': 'Staphylococcus aureus M0131', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; aureus; M0131'} 29001
Parsed taxnomic info entries 30000 {'taxid': '1394616', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Vibrionales', 'taxonomic_family': 'Vibrionaceae', 'taxonomic_genus': 'Vibrio', 'taxonomic_species group': 'Vibrio harveyi group', 'taxonomic_species': 'Vibrio parahaemolyticus', 'top_taxonomy_name': 'Vibrio parahaemolyticus S073', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Vibrionales; Vibrionaceae; Vibrio; harveyi group; Vibrio parahaemolyticus; S073'} 30001
Parsed taxnomic info entries 31000 {'taxid': '1403887', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Bacillales', 'taxonomic_family': 'Staphylococcaceae', 'taxonomic_genus': 'Staphylococcus', 'taxonomic_species': 'Staphylococcus aureus', 'top_taxonomy_name': 'Staphylococcus aureus M1504', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; aureus; M1504'} 31001
Parsed taxnomic info entries 32000 {'taxid': '1410886', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Bacillales', 'taxonomic_family': 'Staphylococcaceae', 'taxonomic_genus': 'Staphylococcus', 'taxonomic_species': 'Staphylococcus aureus', 'top_taxonomy_name': 'Staphylococcus aureus H23829', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; aureus; H23829'} 32001
Parsed taxnomic info entries 33000 {'taxid': '1417161', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Bacillales', 'taxonomic_family': 'Staphylococcaceae', 'taxonomic_genus': 'Staphylococcus', 'taxonomic_species': 'Staphylococcus aureus', 'top_taxonomy_name': 'Staphylococcus aureus H49831', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; aureus; H49831'} 33001
Parsed taxnomic info entries 34000 {'taxid': '1422544', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Firmicutes', 'taxonomic_class': 'Bacilli', 'taxonomic_order': 'Bacillales', 'taxonomic_family': 'Staphylococcaceae', 'taxonomic_genus': 'Staphylococcus', 'taxonomic_species': 'Staphylococcus aureus', 'top_taxonomy_name': 'Staphylococcus aureus VET0270R', 'full_taxonomy': 'Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; aureus; VET0270R'} 34001
Parsed taxnomic info entries 35000 {'taxid': '1438736', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Enterobacterales', 'taxonomic_family': 'Enterobacteriaceae', 'taxonomic_genus': 'Klebsiella', 'taxonomic_species': 'Klebsiella pneumoniae', 'top_taxonomy_name': 'Klebsiella pneumoniae CHS 30', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Enterobacterales; Enterobacteriaceae; Klebsiella; pneumoniae; CHS 30'} 35001
Parsed taxnomic info entries 36000 {'taxid': '1447503', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Actinobacteria', 'taxonomic_class': 'Actinobacteria', 'taxonomic_order': 'Corynebacteriales', 'taxonomic_family': 'Mycobacteriaceae', 'taxonomic_genus': 'Mycobacterium', 'taxonomic_species group': 'Mycobacterium tuberculosis complex', 'taxonomic_species': 'Mycobacterium tuberculosis', 'top_taxonomy_name': 'Mycobacterium tuberculosis MD15774', 'full_taxonomy': 'Bacteria; Terrabacteria group; Actinobacteria; ; Corynebacteriales; Mycobacteriaceae; Mycobacterium; tuberculosis complex; Mycobacterium tuberculosis; MD15774'} 36001
Parsed taxnomic info entries 37000 {'taxid': '1471523', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Cyanobacteria', 'taxonomic_order': 'Synechococcales', 'taxonomic_family': 'Prochloraceae', 'taxonomic_genus': 'Prochlorococcus', 'taxonomic_species': 'Prochlorococcus sp. scB245a_520M11', 'top_taxonomy_name': 'Prochlorococcus sp. scB245a_520M11', 'full_taxonomy': 'Bacteria; Terrabacteria group; Cyanobacteria/Melainabacteria group; Cyanobacteria; Synechococcales; Prochloraceae; Prochlorococcus; sp. scB245a_520M11'} 37001
Parsed taxnomic info entries 38000 {'taxid': '334542', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Actinobacteria', 'taxonomic_class': 'Actinobacteria', 'taxonomic_order': 'Corynebacteriales', 'taxonomic_family': 'Nocardiaceae', 'taxonomic_genus': 'Rhodococcus', 'taxonomic_species': 'Rhodococcus qingshengii', 'top_taxonomy_name': 'Rhodococcus qingshengii', 'full_taxonomy': 'Bacteria; Terrabacteria group; Actinobacteria; ; Corynebacteriales; Nocardiaceae; Rhodococcus; qingshengii'} 38001
Parsed taxnomic info entries 39000 {'taxid': '558270', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Enterobacterales', 'taxonomic_family': 'Pectobacteriaceae', 'taxonomic_genus': 'Pectobacterium', 'taxonomic_species': 'Pectobacterium carotovorum', 'taxonomic_subspecies': 'Pectobacterium carotovorum subsp. carotovorum', 'top_taxonomy_name': 'Pectobacterium carotovorum subsp. carotovorum WPP14', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Enterobacterales; Pectobacteriaceae; Pectobacterium; carotovorum; subsp. carotovorum; WPP14'} 39001
Parsed taxnomic info entries 40000 {'taxid': '754078', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Enterobacterales', 'taxonomic_family': 'Enterobacteriaceae', 'taxonomic_genus': 'Escherichia', 'taxonomic_species': 'Escherichia coli', 'top_taxonomy_name': 'Escherichia coli G58-1', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Enterobacterales; Enterobacteriaceae; Escherichia; coli; G58-1'} 40001
Parsed taxnomic info entries 41000 {'taxid': '887298', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_subphylum': 'delta/epsilon subdivisions', 'taxonomic_class': 'Epsilonproteobacteria', 'taxonomic_order': 'Campylobacterales', 'taxonomic_family': 'Campylobacteraceae', 'taxonomic_genus': 'Campylobacter', 'taxonomic_species': 'Campylobacter coli', 'top_taxonomy_name': 'Campylobacter coli 1961', 'full_taxonomy': 'Bacteria; Proteobacteria; delta/epsilon subdivisions; Epsilonproteobacteria; Campylobacterales; Campylobacteraceae; Campylobacter; coli; 1961'} 41001
Parsed taxnomic info entries 42000 {'taxid': '991996', 'taxonomic_superkingdom': 'Bacteria', 'taxonomic_phylum': 'Proteobacteria', 'taxonomic_class': 'Gammaproteobacteria', 'taxonomic_order': 'Vibrionales', 'taxonomic_family': 'Vibrionaceae', 'taxonomic_genus': 'Vibrio', 'taxonomic_species': 'Vibrio cholerae', 'top_taxonomy_name': 'Vibrio cholerae CP1050(23)', 'full_taxonomy': 'Bacteria; Proteobacteria; Gammaproteobacteria; Vibrionales; Vibrionaceae; Vibrio; cholerae; CP1050(23)'} 42001

In [280]:
df_summary_taxid.head()

,full_taxonomy,taxid,taxonomic_class,taxonomic_cohort,taxonomic_family,taxonomic_forma,taxonomic_genus,taxonomic_infraclass,taxonomic_infraorder,taxonomic_kingdom,...,taxonomic_subspecies,taxonomic_subtribe,taxonomic_superclass,taxonomic_superfamily,taxonomic_superkingdom,taxonomic_superorder,taxonomic_superphylum,taxonomic_tribe,taxonomic_varietas,top_taxonomy_name
0,Eukaryota; Opisthokonta; Metazoa; Eumetazoa; B...,10090,Mammalia,NaN,Muridae,NaN,Mus,NaN,NaN,Metazoa,...,NaN,NaN,NaN,NaN,Eukaryota,Euarchontoglires,NaN,NaN,NaN,Mus musculus
1,Eukaryota; Opisthokonta; Metazoa; Eumetazoa; B...,10116,Mammalia,NaN,Muridae,NaN,Rattus,NaN,NaN,Metazoa,...,NaN,NaN,NaN,NaN,Eukaryota,Euarchontoglires,NaN,NaN,NaN,Rattus norvegicus
2,"Viruses; dsDNA viruses, no RNA stage; Adenovir...",10512,NaN,NaN,Adenoviridae,NaN,Mastadenovirus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Viruses,NaN,NaN,NaN,NaN,Canine adenovirus 1
3,"Viruses; dsDNA viruses, no RNA stage; Adenovir...",10514,NaN,NaN,Adenoviridae,NaN,Mastadenovirus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Viruses,NaN,NaN,NaN,NaN,Canine adenovirus 2
4,"Viruses; dsDNA viruses, no RNA stage; Adenovir...",10515,NaN,NaN,Adenoviridae,NaN,Mastadenovirus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Viruses,NaN,NaN,NaN,NaN,Human adenovirus 2

In [281]:
df_summary_taxid.shape

(42364, 32)

### Save NCBI RefSeq Taxonomy Summary Table

In [282]:
df_summary_taxid.to_csv('../refseq_masher/data/ncbi_refseq_taxonomy_summary.csv', index=None)